<p style="color: green"><%= notice %></p>

<div id="header">
  <h1>Madoffs</h1>
  <h3>A power-ranking of all the best scammers, grifters, and con artists.</h3>
</div>

<div id="madoff-form" class="right">
  <%= turbo_frame_tag "new_madoff", src: new_madoff_path, target: "_top" %>
</div>

<%= turbo_frame_tag "upvote_madoffs" do %>
  <div id="madoffs">
    <% @madoffs.each do |madoff| %>
      <%= render madoff %>
    <% end %>
  </div>
<% end %>
